@{
    ViewBag.Title = "Lista de Proveedores";
}
@model List<TP7.MVC.Models.SuppliersModel>

    @if (TP7.MVC.Controllers.SuppliersController.banderaEliminar == 1)
    {
        <script type="text/javascript">
            alert("No se puede eliminar al proveedor seleccionado!!");
        </script>
        TP7.MVC.Controllers.SuppliersController.banderaEliminar = 999;
    }
    else if (TP7.MVC.Controllers.SuppliersController.banderaEliminar == 0)
    {
        <script type="text/javascript">
            alert("Proveedor eliminado correctamente!!");
        </script>
        TP7.MVC.Controllers.SuppliersController.banderaEliminar = 999;
    }
    @if (TP7.MVC.Controllers.SuppliersController.banderaInsertar == 0)
    {
        <script type="text/javascript">
            alert("Proveedor Añadido correctamente!");
        </script>
        TP7.MVC.Controllers.SuppliersController.banderaInsertar = 999;
    }
<div>
    <h1>Listado de Proveedores</h1>
    <a href="/Suppliers/Insert" class="btn btn-primary">Añadir Proveedor</a><br><br>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>País</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var suppliers in Model)
            {
                <tr>
                    <td>@suppliers.id</td>
                    <td>@suppliers.nombre</td>
                    <td>@suppliers.pais</td>
                    <td>@Html.ActionLink("Eliminar", "Delete", new { id = suppliers.id })</td>
                    <td>@Html.ActionLink("Actualizar", "Update", new { id = suppliers.id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>